extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Steven Abaco

        p Full Stack JavaScript Developer

        .about-bio
          p From when I was a child I always had an interest in computers and technology, but my initial career pursuits and education started me down a different path. <br><br> After a lot of hard work and perserverance I achieved getting my Masters of Business Administration (MBA) in Finance, Bachelors of Science (BS) in Accounting, and Project Management Professional (PMP) Certification. Armed with this education and skills I pursued my other passion at the time which was Real Estate. It still gave me the ability to build and renovate things and see the fruition of my hard work and creativity. <br><br> After 20 years in the Real Estate industry, I decided it was time to pursure my original passion for computers and get into programming, where I am today. Not having time on side to pursue another degree, I researched the best online self paced courses and started taking them. What I was learning was making sense. I was able to put it into practice and build my own projects. <br><br>I then decided to sign up for TeamTreehouse to pursue their TechDegree program for my Full Stack JavaScript Developer certification. It's an amazing program. I'm currently half way through it. 

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li ReactJS
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li (312) 402 - 3902
          li stevenabaco@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/stevenabaco/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/stevenabaco' target='_blank') GitHub
        a.btn-link(href='https://stackoverflow.com/users/13629204/steven-abaco?tab=profile') StackOverflow

    nav.nav
      a(href='/')
        span &larr;
        |  Back