extends layout.pug

block content

  article.portfolio-intro

    h1 My Web Dev Project Portfolio

    p Below is a compilation of the projects I developed and built. Please select a project from below to get more detailed information about the project and the technologies I used to build it. All projects also have a live demo and github respository.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5 #{project.project_name}

