extends layout.pug 

block content 

  div(style='color: #cb4154; text-align: center; padding-top: 30px') 
    h1 Oh No ! ERROR 404
    h2 Could not find the page you requested.

  nav.nav(style='text-align: center')
      a(href='/')
        span &larr;
        |  Back